.topbar
    width: 100%
    height: 60px
    background-color: #373737
    line-height: 60px
.topbar_content
    width: 95%
    max-width: 1200px
    margin: auto
    text-align: center
    .logo
        width: 150px
        height: 60px
        margin: auto
        background: white
        text-align: center
        line-height: 40px
        position: absolute
        left: 50%
        margin-left: -75px

        img
            width: 120px



nav
    ul
        float: left
        li
            float: left
            color: white
            margin-right: 25px
            font-family: $paragraph
            text-transform: uppercase
            text-align: center


.links
    ul
        float: right
        li
            float: left
            color: white
            margin-right: 25px
            font-family: $paragraph
            text-transform: uppercase
            text-align: center

@media screen and (max-width: $medium)
    nav
        display: none
    .links
        display: none
