.one_content
    .big_l
        background: white
        text-align: center

        img
            width: 100px
            padding-bottom: 2rem
            @media screen and (max-width: 400px)
                width: 15%

    .big_r
        background: yellow
    .small_r
        background: blue
    .small_r2
        background: black
    .xsmall_l
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../bilder/lorem1.jpg)
        background-size: cover
    .xsmall_r
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(225, 225, 225, 0.1)), url(../bilder/lorem6.jpg)
        background-size: cover
    .xsmall_l2
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(225, 225, 225, 0.1)), url(../bilder/lorem5.jpg)
        background-size: cover
    .xsmall_r2
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../bilder/lorem4.jpg)
        background-size: cover
