.three_content

    .big_l
        background: rgb(241, 241, 241)
        text-align: center
        color: black
        padding-top: 10%
        span
            position: relative
            font-size: 10rem
            //display: inline-block
    .big_r
        background: url(../bilder/lorem3.jpg)
        background-size: cover
